@import './fonts/montSerrat/montSerrat.css';
@import './fonts/TT-Norms-Pro-Serif/ttNormsProSerif.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:host,
:root {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
