# Database credentials
POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=<your_database_name>

# Spring datasource settings
SPRING_DATASOURCE_USERNAME=<your_spring_username>
SPRING_DATASOURCE_PASSWORD=<your_spring_password>

# Application server port
APP_SERVER_PORT=<your_app_server_port>

# Application links
VERIFICATION_APP_LINK=<your_app_link_part_for_verification>
NOTIFICATION_LINK=<notification_server_link>

# Security
SECRET=<your_secret_jwt_key>